
<!-- BoostStap Needs These -->
<script src="/extensions/jquery-3.6.0.min.js"></script>
<script src="/extensions/popper.min.js"></script>
<script src="/extensions/bootstrap.min.js"></script>
<!--------------------------->
<!----------Axios------------>
<script src="/extensions/axios.min.js"></script>
<!--------------------------->
<!------------CUSTOM SCRIPTS BELOW--------------->
<script src="/js/main.js"></script>
</body>
</html>
