<!DOCTYPE HTML>
<html>
	<head>
		<title>TraveLara Dream Vacations</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
    <script src="https://kit.fontawesome.com/170c91c28b.js" crossorigin="anonymous"></script>
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload landing">
		<div id="page-wrapper">

			<!-- Header #297cbb -->
				<header id="header">
					<img src="https://i.imgur.com/TPPoNKw.png?1" style="width:100px;float:left;"/>
					<img src="https://i.imgur.com/dDEMqI8.png" style="width:100px;float:left;"/>
					<nav id="nav">
						<ul>
							<li><a href="/login" class="button">Login</a></li>
							<li><a href="/signup" class="button primary" style="background-color:#297cbb;">Sign Up</a></li>
						</ul>
					</nav>
				</header>

			<!-- Banner -->
				<section id="banner">
					<div class="content">
						<header>
							<h2>Making Dream Trips a Reality!</h2>
							<p>Your own personal travel agent and concierge,<br />
							TraveLara makes vacation planning Fun!</p>
						</header>
						<span class="image"><img src="images/palm2.jpg" alt="" /></span>
					</div>
					<a href="#one" class="goto-next scrolly">Next</a>
				</section>

			<!-- One -->
				<section id="one" class="spotlight style1 bottom">
					<span class="image fit main"><img src="images/palm3.jpg" alt="" /></span>
					<div class="content">
						<div class="container">
							<div class="row">
								<div class="col-4 col-12-medium">
									<header>
										<h2>Unmacthed Quality</h2>
									</header>
										<p>All reviews are 5 stars, we have no unhappy customers. We are absolutely the best!<br/> You Can Believe Us, We wouldn't lie to you!</p>

								</div>
								<div class="col-4 col-12-medium">
									<h2>Some Stuff about our Amazingness!</h2>
								</div>
								<div class="col-4 col-12-medium">
									<h2>Save Time and Money</h2>
									<p>You will reclaim those countless wasted hours researching or talking to a travel agent. If our unmatched quality isn't a selling point for you, maybe saving time and money is!</p>
								</div>
							</div>
						</div>
					</div>
					<a href="#two" class="goto-next scrolly">Next</a>
				</section>

			<!-- Two -->
				<section id="two" class="spotlight style2 right">
					<span class="image fit main"><img src="images/cabin.jpg" alt="" /></span>
					<div class="content">
						<header>
							<h2>Something goes here, but I'm to tired to make something up</h2>
							<p>Imagine you are on a mountain, looking out of the window of your log cabin, sipping on some hot coco with 2 marshmellows!</p>
						</header>
						<p>Your so close to the vacation you could probably taste it!</p>
						<ul class="actions">
							<li><a href="#" class="button">Learn More</a></li>
						</ul>
					</div>
					<a href="#three" class="goto-next scrolly">Next</a>
				</section>

			<!-- Three -->
				<section id="three" class="spotlight style3 left">
					<span class="image fit main bottom"><img src="images/mountain2.jpg" alt="" /></span>
					<div class="content">
						<header>
							<h2>That crisp mountain air!</h2>
							<p>If you weren't seeing it with your own eyes, you'd probably think it was photoshopped.</p>
						</header>
						<p>Something Witty!</p>
						<ul class="actions">
							<li><a href="#" class="button">Learn More</a></li>
						</ul>
					</div>
					<a href="#four" class="goto-next scrolly">Next</a>
				</section>


				<!-- One -->
				<section id="one" class="spotlight style1 bottom">
					<span class="image fit main"><img src="images/palm3.jpg" alt="" /></span>
					<div class="content">
						<div class="container">
							<header>
								<h2>This is our Contact Sheet</h2>
								<p>Fill it out. Or don't we already have your information anyway</p>
							</header>
							<form method="post" action="#" class="cta">
								<div class="row gtr-uniform gtr-50">
									<div class="col-8 col-12-xsmall"><input type="email" name="email" id="email" placeholder="Your Email Address" /></div>
									<div class="col-4 col-12-xsmall"><input type="submit" value="Get Started" class="fit primary" /></div>
								</div>
							</form>
						</div>
					</div>
					<a href="#two" class="icon solid fa-arrow-up">Next</a>
				</section>
			<!-- Footer -->
				<footer id="footer">
					<ul class="icons">
						<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon brands fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
						<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
						<li><a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; CharlesCreativeContent</li><li>TraveLara</li>
					</ul>
				</footer>

		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>
