<%- include('header'); -%>
			<!-- Header #297cbb -->
				<header id="header">
					<nav id="nav">
						<ul>
							<li><a href="/login" class="button">Login</a></li>
							<li><a href="/signup" class="button primary" style="background-color:#297cbb;">Sign Up</a></li>
						</ul>
					</nav>
				</header>

<%- include('footer'); -%>
