/*-------------------------------------------*\
    2.14. Clients
\*-------------------------------------------*/

.u-clients {
  width: 100%;
  max-width: $clients-width;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.inner-md-right {
	@include media-breakpoint-up(md) {
		padding-right: 75px;
	}
}

.inner-md-left {
	@include media-breakpoint-up(md) {
		padding-left: 75px;
	}
}

.inner-bottom-sm{
	padding-bottom: 60px;
}
